/* All the flex-related properties are used to help position things on the page */
*{
    box-sizing: border-box;
  }
  body,html{
  /*The padding and margin here are 0 so that we don't see any white space around the edges of the header and footer*/
    padding:0;
    margin:0;
    background-color: white;
  }
  body{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header,footer{
    margin:0;
    padding:0;
    height:100px;
    width:auto;
    padding: 20px 10px;
    background-color:rgba(26,26,26,.7);
    display:flex;
    flex-direction: column;
    justify-content: center;
    color:white;
  }
  h1{
    text-align:center;
    font-size:40px;
  }

  th, td {
    padding: 15px;
    text-align: left;
  }
  
  #footer-text{
    text-align:center;
    font-size:25px;
  }